body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('./food/food03.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('./food/food06.jpg');
    min-height: 500px;
}

.pimg3{
    background-image: url('./food/food05.jpg');
    min-height: 400px;
}

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    animation:scale-up-hor-center .6s cubic-bezier(.5,.575,.565,1.000) both
}

.ptext .border{
    background-color: #111;
    color:#fff;
    padding:20px;
}

.ptext .trans{
    background-color: transparent;
}

/* désactivation de l'effet pour le mobile */
@media (max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.sectionSkew{
    position: relative;
    background-color: white;
    width: 100%;
    height: 250px;
}

.sectionSkew:before{
    content: '';
    position: absolute;
    border-bottom: 80px solid white;
    border-left: 98.75vw solid transparent;
    top:-100px;
}

.sectionSkew:after{
    content: '';
    position: absolute;
    border-top: 80px solid white;
    border-right: 98.75vw solid transparent;
    bottom:-80px;
    z-index: 1;
}
.sectionDarkSkew p,.sectionDarkSkew h2{
    margin:0;
}
.sectionDarkSkew{
    position: relative;
    background-color: #282e34;
    color:#ddd;
}

.sectionDarkSkew:before{
    content: '';
    position: absolute;
    border-bottom: 100px solid #282e34;
    border-left: 98.75vw solid transparent;
    top:-100px;
}
.sectionDarkSkew:after{
    content: '';
    position: absolute;
    border-top: 80px solid #282e34;
    border-right: 98.75vw solid transparent;
    bottom:-80px;
    z-index: 1;
}

.footerDark{
    background-color: #282e34;
    color:#ddd;
    text-align: center;
    font-size: 2rem;
    margin:0;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.darkContainer,.whiteContainer{
    margin:0 80px;
    text-align: center;
}

.fab{
    margin:0 6px;
    cursor: pointer;
}

.fab:hover{
    font-size: 2.2rem;
    transition: 0.3s ease;
}

.fa-facebook-square:hover{
    color:#3b5999;
}

.fa-instagram:hover{
    color:#dd4b39;
}

.fa-twitter-square:hover{
    color:#55acee;
}

.fa-google-plus-square:hover{
    color:#dd4b39;
}

.fa-linkedin:hover{
    color:#0077B5;
}

@keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}